.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr 80%;
    grid-template-areas: 
      "header"
      "main";
  
  }
.header {
    grid-area: header;
    background-color:#FF6600;
    height: 130px;

  }
.main {
    grid-area: main;
    background-color: #FFFFFF;
    /* height: 800px; */
    
  }
  .header {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows:repeat(7fr);
    grid-template-areas: 
      ". . . . . . . . . ."
      "img3 . . . . . . . . ."
      "img3 . . . . . . . . ."
      "img3 mots . . . . . . creer deco"
      "img3 . . . . . . . . ."
      "img3 . . . . . . . . ."
      ". . . . . . . . . ."; 
  }
#img3 {
    grid-area: img3;
    background-color:#FF6600;
    border-radius: 5px;
    margin: 15px 0 0 20px;
    width: 90px;
    height: 90px;
    

  }
#mots{
    grid-area: mots;
    background-color:#FF6600;
   
}
#creer{
  grid-area: creer;
  background-color:#FFFFFF;
  border-radius: 20px;
  float: right;
}

#deco{
  grid-area: deco;
  background-color:#FFFFFF;
  border-radius: 20px;
  float: right; 
}



.main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows:1fr;
    grid-template-areas: 
      " users users users users users users users users users stat stat stat"; 
  }
.users {
    grid-area: users;

  }
.stat{
    grid-area: stat; 
}

.stat{
  display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". . ."
    ". . ."
    ". stat1 ."
    ". stat1 ."
    ". stat1 ."
    ". . ."
    ". . .";
}
.stat1{
   grid-area: stat1;
   background-color: #FF6600;
   /* height: 200px; */
   /* width: 300px; */
   border-radius: 20;

}



.adduser{
  display: flex;
  border-bottom: 1px solid #ccc;
  flex-direction: row;
  margin-bottom: 25px;
  margin-left: 10px;
}
th{
  margin: 5px;
  padding: 5px 80px;
  text-align: center;
  color: #FF6600;
  /* width: 250px; */
}
td{

    margin: 5px;
    padding: 5px 80px;
    text-align: center;
    color: #FF6600;
    /* width: 250px; */
}

.colorer{
  margin: 15px 10px 0 10px;
  text-align: center;
  padding: 5px 70px; 
  border-radius: 20px;
  background-color:#FFFFFF ;
  color: #000000;
}

button{
  margin: 5px;
  padding: 5px auto;
  width: 180px;
}

.vert{
  border-radius: 20px;
  border-color: #FFFFFF;
  background-color: #34C924;
  color:#FFFFFF;
}
.rouge{
  border-radius: 20px;
  border-color: #FFFFFF;
  background-color: #FF0000;
  color:#FFFFFF;
}

.stat1{
  display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    border-radius: 20px;
    grid-template-areas: 
    ". . ."
    ". grid1 ."
    ". grid2 ."
    ". grid3 ."
    ". . .";
}

#grid1{
  grid-area: grid1;
  background-color: #FFFFFF;
  /* width: 25px; */
}

#grid2{
  grid-area: grid2;
  background-color: #FFFFFF;
  /* width: 25px; */
}
#grid3{
  grid-area: grid3;
  background-color: #FFFFFF;
  /* width: 25px; */
}

/* popup */

#myForm{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  background-color: transparent;
 
}
.form-popup{
  display: None;
    z-index: 100;
    width: 200px;
    height: 50px;
  
  }
  

.containerize {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  grid-template-rows:1fr;
  grid-template-areas: 
    ". centered .";
  
}

.centered {
  grid-area: centered;
  background-color: #FFFFFF;
  height: 800px;
}

.centered{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:    1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    ". . . . . ."
    ". couche1  couche1 couche1 couche1  ."
    ". couche1  couche1 couche1 couche1  ."
    ". couche1  couche1 couche1 couche1  ."
    ". couche1  couche1 couche1 couche1  ."
    ". . . . . .";

}
.couche1{
  grid-area: couche1;
  background-color: #FF6600;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}


.couche1{
  display: grid;
  grid-template-columns: 1fr 10fr 10fr 1fr;
  grid-template-rows:    1fr 16fr 16fr 1fr;
  grid-template-areas: 
    " . . . . "
    " . couche2 couche2 . "
    " . couche2 couche2 . "
    ". . . . ";

}
.couche2{
  grid-area: couche2;
  background-color: #FFFFFF;
  border-radius: 20px;
  height:500px;
  justify-content: center;
  align-items: center;
}

.couche2 input{
  height: 30px;
  width: 250px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #FF6600;
  border-color: #FFFFFF #FFFFFF #000000 #FFFFFF;
  /* border-bottom: 1px solid #ccc; */
} 

#btn{
  grid-area: btn;
  background-color: #FF6600;
  height: 30px;
  width: 80px;
  border-color: #FFFFFF;
  border-radius: 20px;
} 

.btn2{
  width: 20px;
  height: 20px;
  border-radius: 4px;
  float: right;
}
