<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='users.css')}}" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src={{url_for('static', filename = "img/digipred.png" )}} sizes="30x30" id="img3"/>
            <p id="mots">VIGIPREDICT</p>
            <button id="creer" type="submit" onclick="window.location.href='{{ url_for('home')}}';">DECONNEXION</button>
        </div>
        <div class="main">
            <div class="users">
                <table>
                    <thead>
                        <tr class="adduser">
                            <th>Motif</th>
                            <th>Plateau</th>
                            <th>Jour</th>
                            <th>Mois</th>
                            <th>Annee</th>
                            <th>Heure</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in range(nbuser) %}
                        <tr class="adduser">
                            <td>{{users[user].motif}}</td>
                            <td>{{users[user].plateau}}</td>
                            <td>{{users[user].jour}}</td>
                            <td>{{users[user].mois}}</td>
                            <td>{{users[user].annee}}</td>
                            <td>{{users[user].heure}}</th>
                            <td>
                                <form action="/accepter/{{users[user].id}}" method="post">
                                    <input class="vert" type="submit" value="Accepter">
                                </form>
                            </td>
                            <td>
                                <form action="/rejeter/{{users[user].id}}"  method="post">
                                    <input class="rouge"  type="submit" value="Rejeter">
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                      
            </div>
           <div class="stat">
               <div class="stat1">
                    <p class="colorer" id="grid1">TOTAL ALERTE: {{total_alerte}}</p>
                    <p class="colorer" id="grid2">TOTAL ACCEPTER: {{total_accepter}}</p>
                    <p class="colorer" id="grid3">TOTAL REJETER: {{total_rejeter}}</p>
               </div>
            </div>
        </div>
    </div>
</body>
</html>