<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='users.css')}}" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src={{url_for('static', filename = "img/digipred.png" )}} sizes="30x30" id="img3"/>
            <p id="mots">VIGIPREDICT</p>
            <button id="creer" type="submit" onclick="window.location.href='{{ url_for('home')}}';">DECONNEXION</button>
        </div>
        <div class="main">
            <div class="users">
                <table>
                    <thead>
                        <tr class="adduser">
                            <th>Motif</th>
                            <th>Plateau</th>
                            <th>Jour</th>
                            <th>Mois</th>
                            <th>Annee</th>
                            <th>Heure</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in range(nbuser) %}
                        <tr class="adduser">
                            <td class="pad">{{users[user].motif}}</td>
                            <td class="pad">{{users[user].plateau}}</td>
                            <td class="pad">{{users[user].jour}}</td>
                            <td class="pad">{{users[user].mois}}</td>
                            <td class="pad">{{users[user].annee}}</td>
                            <td class="pad">{{users[user].heure}}</th>
                            <td class="espace">
                                <form action="/accepter/{{users[user].id}}" method="post" >
                                    <input class="vert"  type="submit" value="Accepter">
                                </form>
                            </td>
                            <td class="espace">
                                <form action="/rejeter/{{users[user].id}}"  method="post" >
                                    <input class="rouge"  type="submit" value="Rejeter">
                                </form>
                            </td>     
                            <td class="espace">
                                <form method="POST" action="/comment/{{users[user].id}}">
                                    <input type="checkbox" id="click">
                                    <label for="click" class="click-me">Commentaire</label>
                                  <div class="content"> 
                                      <div class="text">
                                        COMMENTAIRE
                                     </div>
                                        <label for="click" id="temp">x</label>
          
                                      <br>
                                      <textarea name="content"
                          
                                              rows="15"
                                              cols=" 50"
                                              ></textarea>
                                      <br>
                                      <button  id="bouton">Commentaire</button>
                                  </div>
                                    <!-- </div> -->
                              </form>
                            </td>
                           
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                      
            </div>
            <!-- <script>
                function comment(form){
                    onsubmit="return comment(this);
                    swal({
                        confirmButtonColor: '#FF6600',
                        confirmButtonText: 'Commentaire',
                        showCancelButton: true,
                        cancelButtonColor: '#d33',
                        closeOnConfirm: false,
                        closeOnCancel: false,
                        html:
                        '<form method="POST" action="/users/">'+                       
                        '<h1>Dire les raisons de votre acceptation ou rejet <h1>'+
                        '<textarea  rows="5" cols="50"  name="text"  id="Name"></textarea>'+
                        '</form>'
                      
                      
                    },)
                    
                   .then(function (vrai) {
                        if (vrai) {
                            form.submit();
                        }
                   
                    });
                    return false;
                    }
            </script> -->
           <div class="stat">
               <div class="stat1">
                    <p class="colorer" id="grid1">TOTAL ALERTE: {{total_alerte}}</p>
                    <p class="colorer" id="grid2">TOTAL ACCEPTER: {{total_accepter}}</p>
                    <p class="colorer" id="grid3">TOTAL REJETER: {{total_rejeter}}</p>
               </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
</body>
</html>